.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.light {
  position: relative;
  width: 100%;
  max-width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes pulse {
  50% {
    background-color: gray;
  }
  100% {
    background-color: red;
  }
}

.circle {
  height: 100px;
  width: 100px;
   /*background-color: gray;*/
  border-radius: 100%;
  animation: pulse 1s both;
  animation-delay: 1s;
}

.circle2 {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  animation: pulse 1.5s 1.5s both;
  animation-delay: 2s;
}

.circle3 {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  animation: pulse 2s  2s both;
  animation-delay: 3s;
}

.circle4 {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  animation: pulse 2.5s  2.5s both;
  animation-delay: 4s;
}

.circle5 {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  animation: pulse 3s  3s both;
  animation-delay: 5s;
}

/* .circle:nth-child(1n + 3) {
  background-color: red;
} */

/*   @extend .lights;
   animation: pulse .75s ease-in-out 3.5s both;
  -webkit-animation: pulse .75s ease-in-out 3.5s both;
   margin-left: -15px; */







