body {
  font-family: sans-serif;

}

h1 {
  display: flex;
  justify-content: center;
 text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.lightsOn {
  position: relative;
  width: 100%;
  max-width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.milli {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results{
  display: flex;
  justify-content: center;
  align-items: center;
}

#play {
    font-size: 15px;
    padding: 10px 24px;
    border-radius: 100%;
}

#play:hover {
  color: red;
}

#reset {
    font-size: 15px;
    padding: 10px 24px;
    border-radius: 100%;
}

#reset:hover {
  color: red;
}

#action {
    font-size: 15px;
    padding: 10px 24px;
    border-radius: 100%;
}

#action:hover {
  color: red;
}

@keyframes pulse {
  50% {
    background-color: gray;
  }
  100% {
    background-color: red;
  }
}

.circle {
  height: 150px;
  width: 150px;
   /*background-color: gray;*/
  border-radius: 100%;
  animation: pulse 1s both;
  animation-delay: 1s;
}

.circle2 {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  animation: pulse 1.5s 1.5s both;
  animation-delay: 2s;
}

.circle3 {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  animation: pulse 2s  2s both;
  animation-delay: 3s;
}

.circle4 {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  animation: pulse 2.5s  2.5s both;
  animation-delay: 4s;
}

.circle5 {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  animation: pulse 3s  3s both;
  animation-delay: 5s;
}

/* .circle:nth-child(1n + 3) {
  background-color: red;
} */

/*   @extend .lights;
   animation: pulse .75s ease-in-out 3.5s both;
  -webkit-animation: pulse .75s ease-in-out 3.5s both;
   margin-left: -15px; */







